#home, #menu, #cifrar, #descifrar, #exit{
  /* background-color: lightskyblue; */
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding:0px;
}
body{
background: url("https://image.freepik.com/foto-gratis/portatil-abierto-pantalla-blanca-blanco-escritorio-blanco-contra-fondo-madera-negro_23-2147979109.jpg")no-repeat center top fixed;

}
